a, p {
    font-size: 18px;
}

div a {
    color: red;
}

div#capa1 {
    background: blue;
}

.letraGrande {
    font-size: 22px;
}

.nosubrayado {
    text-decoration: none;
}

div#capa1 a.encima:hover {
    background: gray;
}

p#miparrafo:first-letter {
    color: blue;
    font-size: 40px;
}

p#miparrafo:first-line {
    color: red;
    font-size: 40px;
}

div#capa1 * {
    background: yellow;
}

div > a {
    font-style: italic;
}

div.capa2 {
    border: 1px solid black;
}

a[href^="https"] {
    color: orange;
}

a[href$="pdf"] {
    color: green;
}

p[align="center"] {
    background: blue;
}

div + p {
    font-size: 50px;
}